@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    font-size: 15px;
}

ul {
    margin: 2rem 0;
    padding: 0;
    list-style: none;
}

li {
    display: grid;
    /* child elements */
    grid-template-columns: 1fr 5fr 1fr;
    margin: 10px 10px 10px 30px;
}

li p {
    margin: 0;
    /* background-color: burlywood; */
}

li p, span, time {
    padding: 5px;
}

time {
    /* background-color: powderblue; */
}

.orange {
    border: 1px solid orange;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 3px 10px 15px 5px orange inset;
    background-color: rgb(255, 194, 81);
    text-align: center;
}

#canvas {
    position: fixed;
    bottom: 5cm;
    right: 8cm;
    border: 2px solid rgb(112, 7, 145);
    padding-left: 0;
    padding-right: 0;
    display: block;
    width: 400px;
    background-color: white;
}

input, button{
    border:1px solid #555;
    padding: 8px;
    border-radius:20px;
}

#inputText {
    position: fixed;
    bottom: 60px;
    left: 30cm;
    right: 7cm;
}

header {
    background-color: dodgerblue;
    box-shadow: 5px 10px 20px 5px rgb(61, 135, 209) inset;
    /* height: 70px; */
    padding: 25px 0 25px 0;
}

h2 {
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 400;
    letter-spacing: 1px;
}

.box {
    margin-top: 30px;
    margin-left: 30px;
}

.container {
    max-width: 1400px;
    margin: 0 auto 0 auto;
    /* border: 1px solid grey; */
    height: 950px;
    background-image: url("images/starV0.3.png");
}

/* .img-box {
    height: 800px;
    background-image: url("images/starV0.2.png");
} */

.emoji {
    width: 100px;
}