* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    font-size: 16px;
}

ul {
    margin: 2rem 0;
    padding: 0;
    list-style: none;
}

li {
    display: grid;
    /* child elements */
    grid-template-columns: 1fr 5fr 1fr;
    margin: 10px;
}

li p {
    margin: 0;
    /* background-color: burlywood; */
}

li p, span, time {
    padding: 5px;
}

time {
    /* background-color: powderblue; */
}

.orange {
    background-color: orange;
}

#canvas {
    border: 2px solid rgb(112, 7, 145);
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
}

input, button{
    border:1px solid #555;
    padding:10px;
    border-radius:20px;
}

#inputText {
    position: fixed;
    bottom: 60px;
    left: 30cm;
    right: 7cm;
}

header {
    background-color: dodgerblue;
    box-shadow: 5px 10px 20px 5px rgb(61, 135, 209) inset;
    text-align: center;
    /* height: 70px; */
    padding: 30px 0 30px 0;
    color: white;
}

.box {
    margin-top: 30px;
    margin-left: 30px;
}

.container {
    max-width: 1400px;
    /* height: 950px; */
    margin: 0 auto 0 auto;
    /* border: 1px solid grey; */
}