@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    font-size: 15px;
}

.contain {
    max-width: 1400px;
    margin: 0 auto 0 auto;
    /* border: 1px solid grey; */
    max-height: 100vh;
    min-height: 100vh;
    background-image: url("images/starV0.3.png");
}

.container {
    max-height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}


#canvas {
    position: fixed;
    bottom: 5cm;
    right: 8cm;
    border: 2px solid rgb(149, 87, 168);
    padding-left: 0;
    padding-right: 0;
    display: block;
    /* width: 400px; */
    background-color: white;
}

header {
    background-color: dodgerblue;
    box-shadow: 5px 10px 20px 5px rgb(61, 135, 209) inset;
    /* height: 70px; */
    padding: 25px 0 25px 0;
}

h2 {
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 400;
    letter-spacing: 1px;
}

.box {
    margin-top: 30px;
    margin-left: 30px;
}

input, button{
    border:1px solid rgb(99, 99, 99);
    padding: 8px;
    border-radius:20px;
}

button {
    background-color: #FBF0D3;
    margin-left: 5px;
}

button:hover {
    box-shadow: 1px 3px 5px 1px #FBE6B0 inset;
}

#inputText {
    position: fixed;
    bottom: 60px;
    left: 28cm;
    right: 7cm;
}


ul {
    margin: 2rem 0;
    padding: 0;
    list-style: none;
}

li {
    display: grid;
    /* child elements */
    grid-template-columns: 1fr 5fr 1fr;
    margin: 15px 15px 15px 30px;
}

li p {
    margin: 0 15px 0 15px;
    border-bottom: 1px solid rgb(248, 238, 204);
    /* background-color: burlywood; */
}

li p, span, time {
    padding: 5px;
}

.orange {
    border: 1px solid orange;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 3px 10px 15px 5px orange inset;
    background-color: rgb(255, 194, 81);
    text-align: center;
}